AnchorPane {
    -fx-background-color: #2b2b2b;
}
#ultimateGrid {
    -fx-background-color: #558fa3;
    -fx-border-color: #558fa3;
    -fx-border-width: 5px;
}
#resetButton {
     -fx-background-color: black;
     -fx-border-color: #558fa3;
     -fx-border-width: 5px;
     -fx-text-fill: white;
     -fx-font-size: 32px;
     -fx-shape: "M0,0 H100 V50 H0 Z";
     -fx-text-align: center;
}






.local-winner-x {
    -fx-background-color:  #750010;
    -fx-text-fill: white;
    -fx-font-size: 250px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}
.local-winner-o {
    -fx-background-color:  #002575;
    -fx-text-fill: white;
    -fx-font-size: 250px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}
.local-winner-tie {
    -fx-background-color:  #a69200;
    -fx-text-fill: white;
    -fx-font-size: 250px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}




.playable-local-grid {
    -fx-background-color: white;
}
.playable-local-grid .button{
    -fx-background-color: #00293d;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}

.non-playable-local-grid {
    -fx-background-color: white;
}
.non-playable-local-grid .button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}





.square-x {
     -fx-background-color: #750010;
     -fx-text-fill: white;
     -fx-font-size: 42px;

     -fx-shape: "M0,0 H100 V50 H0 Z";
     -fx-text-align: center;
}
.square-o {
     -fx-background-color: #002575;
     -fx-text-fill: white;
     -fx-font-size: 42px;

     -fx-shape: "M0,0 H100 V50 H0 Z";
     -fx-text-align: center;
}
.test {
     -fx-background-color: orange;
}