AnchorPane {
    -fx-background-color: #2b2b2b;
}
#ultimateGrid {
    -fx-background-color:#36ffeb;
}
#resetButton {
     -fx-font-family: DejaVuMathTeXGyre-Regular;
     -fx-background-color: black;
     -fx-border-color: #36ffeb;
     -fx-border-width: 3px;
     -fx-text-fill: white;
     -fx-font-size: 32px;
     -fx-shape: "M0,0 H100 V50 H0 Z";
}
#topText {
    -fx-font-family: DejaVuMathTeXGyre-Regular;
    -fx-text-fill: white;
    -fx-font-size: 58px;
}





.local-winner-x {
    -fx-background-color:  #870012;
    -fx-text-fill: white;
    -fx-font-size: 200px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}
.local-winner-o {
    -fx-background-color:  #002a85;
    -fx-text-fill: white;
    -fx-font-size: 200px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}
.local-winner-tie {
    -fx-background-color:  #b59f00;
    -fx-text-fill: white;
    -fx-font-size: 200px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}




.playable-local-grid {
    -fx-background-color: white;
}
.playable-local-grid .button{
    -fx-background-color: #6a3880;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}

.non-playable-local-grid {
    -fx-background-color: white;
}
.non-playable-local-grid .button{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-shape: "M0,0 H100 V50 H0 Z";
    -fx-text-align: center;
}





.square-x {
     -fx-background-color: #870012;
     -fx-text-fill: white;
     -fx-font-size: 42px;

     -fx-shape: "M0,0 H100 V50 H0 Z";
     -fx-text-align: center;
}
.square-o {
     -fx-background-color: #002a85;
     -fx-text-fill: white;
     -fx-font-size: 42px;

     -fx-shape: "M0,0 H100 V50 H0 Z";
     -fx-text-align: center;
}